{% extends '::base.html.twig' %}

{% block body %}
   <h2>Messagerie</h2>
   <a href="#">Nouveau message</a>

   <table border="1">
   	<th>
   		<td>Message</td>
   		<td>Supprimer</td>
   	</th>
   </table>

{% endblock %}